<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/headBootStrap.ejs') %>
        <title>Nuve -Costos</title>

</head>

<body>

    <body>
        <%- include('../partials/header.ejs') %>
            <main class="indexMain">
                <section class="Envases view1 col-4">
                    <h4>Envases</h4>
                    <table class="table table-dark ">
                        <thead>
                            <tr class="table-primary flush">
                                <th scope="col">#</th>
                                <th scope="col">Concepto</th>
                                <th scope="col">Unidad/Medida</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Stock</th>
                                <th scope="col">Actualizar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for( let i=0; i < ingredientes.length; i++ ) { %>
                            <tr>
                                <% if (ingredientes[i].TipoIngrediente == "Envase") { %>
                                <th scope="row"><%= ingredientes[i].id %></th>
                                <td> <%= ingredientes[i].TipoIngrediente %></td>
                                <td><%= ingredientes[i].NombreIngrediente %></td>
                                <td><%= ingredientes[i].Costo %></td>
                                <td><%= ingredientes[i].CantidadDisponible %></td>
                                <td>
                                    <a href="/costs/edit/<%= ingredientes[i].id %>" class="card-link">
                                    <button type="submit" class="btn btn-info">Actualizar</button>
                                    </a>
                                </td>
                                <% } %>
                            </tr>
                            <% } %>
                            


                        </tbody>
                    </table>
                </section> 
            
                <section class="Bases view2 col-4">
                    <h4>Bases</h4>
                    <table class="table table-dark ">
                        <thead>
                            <tr class="table-primary flush">
                                <th scope="col">#</th>
                                <th scope="col">Concepto</th>
                                <th scope="col">Unidad/Medida</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Stock</th>
                                <th scope="col">Actualizar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for( let i=0; i < ingredientes.length; i++ ) { %>
                                <tr>
                                    <% if (ingredientes[i].TipoIngrediente != "Envase") { %>
                                    <th scope="row"><%= ingredientes[i].id %></th>
                                    <td> <%= ingredientes[i].TipoIngrediente %></td>
                                    <td><%= ingredientes[i].NombreIngrediente %></td>
                                    <td><%= ingredientes[i].Costo %></td>
                                    <td><%= ingredientes[i].CantidadDisponible %></td>
                                    <td>
                                        <a href="/costs/edit/<%= ingredientes[i].id %>" class="card-link">
                                            <button type="submit" class="btn btn-info">Actualizar</button>
                                            </a>
                                    </td>
                                    <% } %>
                                </tr>
                                <% } %>
                                
    
    
                        </tbody>
                    </table>
                </section>
                <section class="view3 col4"><h3>Cotizaciones</h3>
                    <h5>Dolar Of </h5>
                    <h5>Dolar Blue</h5>
                <section/>
                <section class="view4 col4"><p>Actualizados a fecha:</p>
                </section>
            </main>
            <%- include('../partials/bootstrapScript.ejs') %>
    </body>
</body>

</html>