<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/headBootStrap.ejs') %> 
    <title>Nuve - Agregar Aroma</title>
    
</head>

<body>
    <%- include('../partials/header.ejs') %> 

	<!-- product detail -->
	
	<div class="container products-wrapper">
		<div class="row">
			
		</div>
		<div class="product-detail">
			<div class="row">
				
				<div class="col-12 col-lg-4">
					<article class="product-detail-info">
						<h2 class="product-detail-title"><%= aroma.NombreAroma %></h2>
						<div class="col-12">
							<p class="product-detail-description">
								<%= aroma.Descripcion %>
							</p>
						</div>
							
							<p class="product-detail-price">
							
							</p>
						

						<ul class="actions-list">
							<li>
								<i class="fas fa-credit-card"></i>
								<p>Proveedor: <%= aroma.Proveedor %> </p>
							</li>
							<li>
								<p class="product-detail-price small">
									<span>Precio por Mililitro$ <%= aroma.CostoUnitario %></span>
								</p>
							</li>
							<li>
								<i class="fas fa-store"></i>
								<p>Es usado en los siguientes recetas:</p>
								
									
								
							</li>
							<li>
								<i class="fas fa-store"></i>
							<p> 	Fecha de actualizacion: <%= aroma.FechaRegistro %> </p>
							</li>
						


						</ul>

						<hr>

						<a href="/flavors/edit/<%= aroma.ID %>" class="card-link">
							<button type="submit" class="btn btn-outline-danger btn-sm">Editar</button>
						</a>
						<form method="POST"
                                    action="/flavors/delete/<%= aroma.ID %>?_method=DELETE">
                                    <button type="submit" class="btn btn-outline-danger btn-sm">
                                        Eliminar
                                    </button>
                                </form>
					</article>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->

	<!-- /footer -->

</body>	
</html>
