<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/headBootStrap.ejs') %> 
    <link rel='stylesheet' href='/stylesheets/recipes.css' />
    <title>Nuve -Ventas</title>
    
</head>
<body>
    <%- include('../partials/header.ejs') %> 
    <%- include('../partials/bootstrapScript.ejs')  %> 
    <section>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <form action="/Flavors/search" method="get">
                        <input type="text" name="searchFlavor" placeholder="Buscar Aroma">
                        <input type="submit" value="Buscar">
                    </form>
                </a>
            </li>
            <li>
                <a class="nav-link nav-fill active btn-outline-primary ml-4" aria-current="page" href="Flavors/create">Crear Aroma</a>
        
            </li>
           
               
            
        
        </ul>
    </section>
    <section class="mainSectionSales">
        
      
      <div class="two">
       
        <!-- <section class="Envases view1 col-4"> -->
            <!-- <h4>Aromas</h4> -->
            <table class="table table-dark ">
                <thead>
                    <tr class="table-primary flush">
                       
                        <th scope="col" class="bg-primary">AROMA</th>
                        
                        <th scope="col"class="bg-primary">ML DISPONIBLE</th>
                        <th scope="col"class="bg-primary">COSTO ML</th>
                        <th scope="col"class="bg-primary">FABRICANTE</th>
                        <th scope="col"class="bg-primary">FECHA ACTUALIZACION</th>
                    </tr>
                </thead>
                <tbody>
                    <% for( let i=1; i < aroma.length; i++ ) { %>
                    <tr>
                       
                        <th scope="row">

                            <a href="/flavors/detail/<%= aroma[i].ID %>" class="card-link">
                               <%= aroma[i].NombreAroma %></th>
                              
                            </a>

                        
                        
                        <td><%= aroma[i].CantidadDisponible %></td>
                        <td><%= Math.trunc(aroma[i].CostoUnitario)  %></td>
                        <td > <%= aroma[i].Marca %></td>
                        <td><%= aroma[i].FechaRegistro %></td>
                       
                        
                    </tr>
                    <% } %>
                    


                </tbody>
            </table>
        </section> 
    </div>
    <%- include('../partials/bootstrapScript.ejs')  %> 
    <script src="sweetalert2.all.min.js"></script>
    </section>
    
      
</body>
</html>