<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/headBootStrap.ejs') %>
   
        <title>Nuve - Editar Aroma</title>

</head>

<body>

    <%- include('../partials/header.ejs') %>
        <h1>Editar Aroma</h1>
        <form method='POST' action="/flavors/edit/<%= aroma.ID %>?_method=PUT">
            <label for="">Nombre Aroma </label>
            <input type="text" name="name" value="<%= aroma.NombreAroma %>">
            <br>
            <label for="">Marca </label>
            <input type="text" name="brand" value="<%= aroma.Marca %>">
            <br>
            <label for="">Precio</label>
            <input type="text" name="price" value="<%= aroma.CostoUnitario %>">
            <br>
            

            <label for="">Moneda</label>
            
            <select class="form-control-sm" id="flavorCostType1" name="costType" >
                <option value="ARG" <%= aroma.Moneda === 'ARG' ? 'selected' : '' %>>$ARS</option>
                <option value="USO" <%= aroma.Moneda === 'USO' ? 'selected' : '' %>>U$S Oficial</option>
                <option value="USP" <%= aroma.Moneda === 'USP' ? 'selected' : '' %>>U$S Blue</option>
              </select>

            <br>
            <label for="">Stock</label>
            <input type="text" name="stock" value="<%= aroma.CantidadDisponible %>">
            <br>
            <label for="">Proveedor</label>
            <input type="text" name="provider" value="<%= aroma.Proveedor %>">
            <br>
            <input type="submit" value="ChangeFlavor">
                  
        </form>


        <%- include('../partials/bootstrapScript.ejs') %>
        <script src="sweetalert2.all.min.js"></script>
</body>


</html>