<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/headBootStrap.ejs') %>
        <title>Nuve - Editar Aroma</title>

</head>

<body>

    <%- include('../partials/header.ejs') %>
        <h1>Editar Aroma</h1>
        <form method='POST' action="/flavors/edit/<%= flavorToEdit.idFlavor %>?_method=PUT">
            <label for="">Nombre Aroma </label>
            <input type="text" name="name" value="<%= flavorToEdit.name %>">
            <br>
            <label for="">Marca </label>
            <input type="text" name="brand" value="<%= flavorToEdit.brand %>">
            <br>
            <label for="">Precio</label>
            <input type="text" name="price" value="<%= flavorToEdit.price %>">
            <br>
            <label for="">Moneda</label>
            <input type="text" name="costType" value="<%= flavorToEdit.costType %>">
            <br>
            <label for="">Stock</label>
            <input type="text" name="stock" value="<%= flavorToEdit.stock %>">
            <br>
            <input type="submit" value="ChangeFlavor">
                  
        </form>


        <%- include('../partials/bootstrapScript.ejs') %>
</body>

</html>