<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/recipes.css' />
    <%- include('../partials/headBootStrap.ejs') %>
        <title>Nuve - Aromas</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
        <h1>Resultado de Busqueda en Aromas</h1>
 <ul>

    <% if (flavorFound.length>=1) { %>

     <% for( let i=0; i < flavorFound.length; i++ ) { %>
         <li class="btn btn-outline-warning btn-sm">
             <div class="card text-white bg-dark" style="width: 18rem;">
                 <div class="card-body flavors">
                     <h5 class="card-title">
                         <%= flavorFound[i].NombreAroma %>
                     </h5>
                     <h6 class="card-subtitle mb-2 text-muted">
                         <%= flavorFound[i].Proveedor %>
                     </h6>
                     
                     <p class="card-text">
                         Costo: 
                          <%= flavorFound[i].CostoUnitario %> <%= flavorFound[i].costType %>

                     </p>
                     <p class="card-text">
                         Cantidad:
                           <%= flavorFound[i].CantidadDisponible %> ML

                    </p>
                    <div class="cardsFlavorContainer">
                     <a href="/flavors/detail/<%= flavorFound[i].ID %>" class="card-link">
                      
                             <button type="submit" class="btn btn-outline-danger btn-sm">Detalle</button>
                   
                     </a>
                     <a href="/flavors/delete/<%= flavorFound[i].ID %>" class="card-link">
                         <form method="POST" action="/flavors/delete/<%= flavorFound[i].ID %>?_method=DELETE">
                             <button type="submit" class="btn btn-outline-danger btn-sm">Borrar</button>
                         </form>
                     </a>
                     <a href="/flavors/edit/<%= flavorFound[i].ID %>" class="card-link">
                         

                             <button type="submit" class="btn btn-outline-danger btn-sm">Editar</button>
                        
                     </a>
                 </div>
                 </div>
             </div>

         </li>
         <% } %>
         <% } else { %>
            <h3>No hay Aroma que coincida con su busqueda</h3>
            <% } %>
 </ul>
 <!-- Termina Recipes -->

       
        <%- include('../partials/bootstrapScript.ejs') %>
</body>
</html>