<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/headBootStrap.ejs') %> 
    <title>Nuve - Crear nueva Receta</title>
    
</head>
<body>
    <%- include('../partials/header.ejs') %> 
    <h1>Crear Nueva Receta</h1>
    <form method = 'POST' action="/recipes/create" >
        <label for="">Nombre Receta</label>
        <input type="text" name="name">
        <br>
        <label for="">Tipo</label>
        <input type="text" name="type">
        <br>
        <br>
        <label for="">Descripcion</label>
        <input type="text" name="description">
        <br>   

        <label for="">Aroma 1</label>
        <select class="form-control-sm" id="flavor1" name="flavor1">
            <% for( let i = 0; i < aroma.length; i++ ) { %>
                <option value="<%= aroma[i].id %>" placeholder=""><%= aroma[i].NombreAroma %></option>
            <% } %>
        </select>
        <label for="">porcentaje</label>
        <input type="number" name="percent1">
        <br>

        <label for="">Aroma 2</label>
        <select class="form-control-sm" id="flavor2" name="flavor2">
            <% for( let i = 0; i < aroma.length; i++ ) { %>
                <option value="<%= aroma[i].id  %>"><%= aroma[i].NombreAroma %></option>
            <% } %>
        </select>
        <label for="">porcentaje</label>
        <input type="number" name="percent2">
        <br>

        <label for="">Aroma 3</label>
        <select class="form-control-sm" id="flavor3" name="flavor3">
            <% for( let i = 0; i < aroma.length; i++ ) { %>
                <option value="<%= aroma[i].id  %>"><%= aroma[i].NombreAroma %></option>
            <% } %>
        </select>
        <label for="">porcentaje</label>
        <input type="number" name="percent3">
        <br>

        <label for="">Aroma 4</label>
        <select class="form-control-sm" id="flavor4" name="flavor4">
            <% for( let i = 0; i < aroma.length; i++ ) { %>
                <option value="<%= aroma[i].id  %>"><%= aroma[i].NombreAroma %></option>
            <% } %>
        </select>
        <label for="">porcentaje</label>
        <input type="number" name="percent4">
        <br>
        <label for="">Aroma 5</label>
        <select class="form-control-sm" id="flavor5" name="flavor5">
            <% for( let i = 0; i < aroma.length; i++ ) { %>
                <option value="<%= aroma[i].id  %>"><%= aroma[i].NombreAroma %></option>
            <% } %>
        </select>
        <label for="">porcentaje</label>
        <input type="number" name="percent5">
        <br>
        <label for="">Aroma 6</label>
        <select class="form-control-sm" id="flavor6" name="flavor6">
            <% for( let i = 0; i < aroma.length; i++ ) { %>
                <option value="<%= aroma[i].id  %>"><%= aroma[i].NombreAroma %></option>
            <% } %>
        </select>
        <label for="">porcentaje</label>
        <input type="number" name="percent6">

        <br>
        <label for="">Aroma 7</label>
        <select class="form-control-sm" id="flavor7" name="flavor7">
            <% for( let i = 0; i < aroma.length; i++ ) { %>
                <option value="<%= aroma[i].id  %>"><%= aroma[i].NombreAroma %></option>
            <% } %>
        </select>
        <label for="">porcentaje</label>
        <input type="number" name="percent7">

        <br>
        <label for="">Aroma 8</label>
        <select class="form-control-sm" id="flavor8" name="flavor8">
            <% for( let i = 0; i < aroma.length; i++ ) { %>
                <option value="<%= aroma[i].id  %>"><%= aroma[i].NombreAroma %></option>
            <% } %>
        </select>
        <label for="">porcentaje</label>
        <input type="number" name="percent8">

        <br>
        
            <input type="submit" value="addNewRecipe">
       
    </form>


    <%- include('../partials/bootstrapScript.ejs')  %> 
</body>
</html>