<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/headBootStrap.ejs') %>
        <title>Nuve - Detalle de Receta</title>

</head>

<body>
    <%- include('../partials/header.ejs') %>

        <!-- product detail -->

        <div class="container products-wrapper">
            <div class="row">
                <div class="col-12">

                    <h2 class="products-title">Detalle de receta: </h2>
                </div>
            </div>
            <div class="product-detail">
                <div class="row">
                    <div class="col-12">
                        <h4 class="product-detail-description">
                            <%= receta[0].NombreReceta %>
                        </h4>
                    </div>
                    <div class="col-12 col-lg-4">
                        <article class="product-detail-info">
                            <p class="product-detail-type">
                                Tipo Receta: <b>
                                    <%= receta[0].TipoReceta %>
                                </b>

                            </p>
                            <p class="product-detail-description">
                                Descripcion: <b><%= receta[0].Descripcion %></b> 
                            </p>
                            <p>Utiliza los siguientes Aromas: </p>
                            <% for( let i=0; i < receta.length; i++ ) { %>

                                <p>
                                    <%= receta[i].aromas.NombreAroma %> :
                                        <%= receta[i].aromas.aroma_cantidad.CantidadAroma %> % - 
                                        <br>Stock Actual: <%= receta[i].aromas.CantidadDisponible %> ML
                                </p>
                                
                                <% } %>

                                    <!-- <div class="actions-list">
                                        <br>
                                        <p class="product-detail-price big">
                                            Ventas Ultimo Mes
                                        </p>
                                        <p>Cantidades ML: </p>
                                        <p>Cantidades $:</p>




                                        <i class="fas fa-store"></i>
                                        <p>Usuario que mas compra: </p>

                                    </div>
                                    <hr> -->
                        </article>
                        <a href="/recipes" class="card-link">
                            <button type="submit" class="btn btn-outline-danger btn-sm">Volver</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /product detail -->

        <!-- footer -->

        <!-- /footer -->

</body>

</html>