<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <title>
    NUVE - HOME
  </title>
  <link rel='stylesheet' href='/stylesheets/front/styleFront.css' />
</head>

<body>
  <header class="header">
    <a class="navbar-brand" href="/">
      <img src="/images/Nuve.PNG" alt="Nuve Eliquid" width="160vw" height="50vh" class="logo" >
    </a>
   
<nav class="login">login</nav>
</header>

<main class="main">
<section class="section-navegate-main">
 

    <ul>
      <div class="one">
        <ul class="nav flex-column">
            <!-- <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Active</a>
            </li> -->
            <li class="nav-item"><h4>
            
              <a class="nav-link" href="/Sales/salesForCustomer">CLIENTE</a>
            </h4>
            </li>
            <li class="nav-item">
              <h4><a class="nav-link" href="/Sales/salesForMonth">MES</a></h4>
            </li>
            <li class="nav-item">
                <h4><a class="nav-link" href="/Sales/salesForYear">AÑO</a></h4>
            </li>
            <li class="nav-item">
                <h4><a class="nav-link" href="/Sales/salesForRecipe">RECETA</a></h4>
            </li>
            <li class="nav-item">
                <h4><a class="nav-link" href="/Sales/salesForFlavor">AROMA</a></h4>
            </li>
           
          </ul>
      </div>
      
       
    </ul>
</section>
<container class="container">
  <section1>
     <div class="cuadros cuadro1">
      <%- include('partials/registrarVenta.ejs') %>
     </div>
  </section1>
  <section2>
       <div class="cuadros cuadro2">
        <%- include('partials/costoVenta.ejs') %>
     </div>
  </section2>
  <section3>
      <div class="cuadros cuadro3">
      hola3
      </div>
  </section3>
  <section4
  <div class="cuadros cuadro4">
      hola4
  </div>
  </section>
</container>

</main>
<footer class="footer">

  <div class="view3"><h5>
    Dolar OFICIAL:  <%= valorDolarOf %>
  
    
  <span class="footerSeparation">---</span>
  
 Dolar BLUE: <%= valorDolarblue %></h5> 
   </div>
   <span class="footerSeparation">---</span>
   <h5 class="text-start">Actualizado el <%= fechaActual.toLocaleString() %> hs</h5>
</footer>
</body>

</html>