<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/headBootStrap.ejs') %> 
  <title>
    NUVE - HOME
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include('partials/header.ejs') %>
  <main class="indexMain">
   <div class="view1">
    <%- include('partials/registrarVenta.ejs') %>
    <%-  %>
   </div>
   <div class="view2">

    <%- include('partials/costoVenta.ejs') %>
    
   </div>
   <div class="view3"><h5>
    Dolar OFICIAL:  <%= valorDolarOf %>
   </h5>
    
   </div>
   <div class="view4">
    <h5>Dolar BLUE: <%= valorDolarblue %></h5> 
   </div>
  </p ><h5 class="text-start">Actualizado el <%= fechaActual.toLocaleString() %> hs</h5>
  <section>
    <details name = "info"> 
        <summary> esto es nuevo?</summary>
        <p>Si, ahora se puede tener muchos y se abre de 1</p>
    </details>
    <details name = "info"> 
        <summary> como era antes?</summary>
        <p>quedaban abiertos y habia que usar JS</p>
    </details>
</section>
</p>
  </main>
      <%- include('partials/bootstrapScript.ejs') %>
</body>

</html>