<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Meta tags y enlaces a estilos y scripts -->
    <%- include('./partials/headBootStrap.ejs') %>
    <link rel='stylesheet' href='/stylesheets/recipes.css' />
    <title>Nuve - Precios</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
    
    <!-- Sección de precios -->
    <section class="Envases view1 col-8">
        <% const ranges = ['0-3', '3-9']; %>
        
        <% for (let r = 0; r < ranges.length; r++) { %>
            <tr>
                <th colspan="6"><h4><%= ranges[r] %>MG/ML</h4></th>
            </tr>
            <table class="table table-dark">
                <thead>
                    <tr class="table-primary flush">
                        <th scope="col" class="bg-primary">Tipo Receta</th>
                        <th scope="col" class="bg-primary">Rango Nico</th>
                        <th scope="col" class="bg-primary">ML</th>
                        <th scope="col" class="bg-primary">Precio individual</th>
                        <th scope="col" class="bg-primary">Precio Pack</th>
                        <th scope="col" class="bg-primary">Precio Unitario en Pack</th>
                    </tr>
                </thead>
                <tbody>
                   
                    <% for (let i = 0; i < precio.length; i++) { %>
                        <% if (precio[i].RangoNico === ranges[r]) { %>
                            <tr>
                                <th scope="row"><%= precio[i].TipoReceta %></th>
                                <td><%= precio[i].RangoNico %></td>
                                <td><%= precio[i].ML %></td>
                                <td><%= precio[i].Precio %></td>
                                <td><%= precio[i].PrecioPack %></td>
                                <td><%= precio[i].PrecioUnitarioPack %></td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
        <% } %>
    </section>
    
    <!-- Inclusión de scripts y estilos adicionales -->
    <%- include('./partials/bootstrapScript.ejs') %>
    <script src="sweetalert2.all.min.js"></script>
</body>

</html>
