<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/headBootStrap.ejs') %> 
    <title>Nuve -Ventas</title>
    
</head>
<body>
    <%- include('partials/header.ejs') %> 
    <h1>Ventas</h1>
    <%- include('partials/bootstrapScript.ejs')  %> 
    <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Active</a>
        </li>
        <li class="nav-item"><h3>
          <a class="nav-link" href="#">Cliente</a>
        </h3>
        </li>
        <li class="nav-item">
          <h3><a class="nav-link" href="#">Mes</a></h3>
        </li>
        <li class="nav-item">
            <h3><a class="nav-link" href="#">Año</a></h3>
        </li>
        <li class="nav-item">
            <h3><a class="nav-link" href="#">Receta</a></h3>
        </li>
        <li class="nav-item">
            <h3><a class="nav-link" href="#">Aroma</a></h3>
        </li>
       
      </ul>
      <section class="SalesNavBar">
        <%- include('Sales/salesForCustomer.ejs') %>
        <%- include('Sales/salesForMonth.ejs') %>
        <%- include('Sales/salesForYear.ejs') %>
        <%- include('Sales/salesForRecipe.ejs') %>
        <%- include('Sales/salesForFlavor.ejs') %>
      </section>
    
      
      
      
</body>
</html>