<!-- <div class="card card-title text-dark bg-primary mb-3"> -->
    <div>
        <h4>Costo de ultima venta</h4>
        <section>
       
            <card>
            <p>Cliente: <%= ultimaVenta[0].NombreCliente %>  </p>
        </card>
            <p>Receta: <%= ultimaVenta[0].NombreReceta %>  </p>
            <p class="card-text">Esencia:  <%= ultimaVenta[0].CostoTotalEsencia %>
            </p>
            <p>Base:  <%= ultimaVenta[0].CostoTotalBase %>
            </p>
            <p>Nico:  <%= ultimaVenta[0].CostoTotalNico%>
            </p>
            <p>Frasco:  <%= ultimaVenta[0].CostoFrasco %>
            </p>
            
        
        <p>Costo total : $<%=ultimaVenta[0].CostoTotal%> </p>
        
        <p>Precio Venta: $<%= ultimaVenta[0].PrecioVenta %></p>
        
        <p>Ganancia: $<%= ultimaVenta[0].Ganancia %> </p>
     
       
    </section>
    </div>
  